<div class="row">
  <div class="col m3"></div>
  <div class="col s12 m6">
    {{#each friendsList}}
    <ul class="collection">
      <li class="collection-item avatar">
        <span class="title">{{this.name}}</span>
        <a href="#!" class="secondary-content  ">
          <i class="fa fa-minus" style="color:red"></i>
        </a>
      </li>
      </ul>
    {{/each}}
  </div>
  <div class="col m3"></div>
</div>