<div class="parallax-container center-align">
  <div class="parallax grey">
<img src="/assets/p.jpeg" alt="">
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">SlamPad</h2>
    <p class="grey-text text-darken-3 lighten-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ipsa minus autem! Quia ea ab saepe eum dignissimos commodi quis eveniet labore, repellat reiciendis soluta? Voluptates iusto voluptate aperiam impedit..</p>
  </div>
  <div class="container row">
    <a href="/login" class="btn grey darken-3">Login</a>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
 <img src="/assets/p1.jpeg" alt="">
  </div>
</div>