<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
{{!-- <div class="row">
    <div class="col s3 m3"></div>
    <div class=" col s6 m6 center-align">
        <h4>SlamPd</h4>
        <p>Login With</p>
        {{#if user}}
        {{else}}
        <div class="row">
        <a class="btn-flat text-color-white blue darken-3 waves-effect waves-light" href="/auth/facebook"><i class="fa fa-facebook left"></i>facebook</a>
        </div>
        <div class="row"></div>
        
        <div class="row">
        <a class="btn-flat red darken-1 waves-effect waves-light " href="/auth/google"><i class="fa fa-google left"></i> Google</a>
        </div>
        {{/if}}
    </div>
    <div class="col s3 m3"></div>
</div> --}}
<div class="row">
    <div class="col m3"></div>
    <div class="col s12 m6  center-align border">
        <h5>SlamPad</h5>
        <p>Login with</p>
        {{#if user}}
        {{else}}
        <br>
        <div class="row">
           <a class="btn-flat white-text blue darken-3 waves-effect waves-light" href="/auth/facebook"><i class="fa fa-facebook left"></i>facebook</a> 
        </div>
        <div class="row"></div>
        <div class="row">
        <a class="btn-flat white-text red darken-1 waves-effect waves-light" href="/auth/google"><i class="fa fa-google left"></i> Google</a>
        </div>
        {{/if}}
    </div>
    <div class="col m3"></div>
</div>
