<div class="row">
    <div class="col m3"></div>
    <div class="col m3 s12">
        <div class="row">
            <h6>{{user.firstName}}</h6>
        </div>
        
    </div>
    <div class="col m3"></div>
</div>